// Sys.vm
// Punto de entrada del programa (bootstrap llama aquí)

// Declaramos la función principal del sistema
function Sys.init 0

// Definir el valor de n
push constant 7     

// Llamar a la función que calcula la sumatoria
call Main.computeSum 1   

// Guardar o inspeccionar el resultado 
pop temp 0          // Guarda el resultado en temp 0 (RAM[5]) para verlo fácil

// Terminar Proceso
label Sys$END
goto Sys$END
